
{{#noUser}}

<a href="/login">Login</a>
<br>
<a href="/users/new">Sign up</a>

<br>
{{#message}}
	{{ message }} 
{{/message}}
{{/noUser}}

{{#currentUser}}
	Logged in as {{ currentUser.firstName }} {{ currentUser.lastName }}
	<br>
	<a href="/apartments/mine">Your listings</a>
	<br>
	<a href="/apartments/new">Add a listing</a>
	<form method="post" action="/logout">
		<button>Logout</button>
		<input type="hidden" name="thisCSRF" value = "{{ thisCSRF }}">
<!-- 		<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}"> -->
	</form>
{{/currentUser}}
